html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}

#aboutPhoto {
  float: right;
  padding-right: 10%;
  height: 70%;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 5%
}

.aboutPage {
  background-color: lightgray;
  height: 100%;
}